<header class="page-header">
    <div class="container">
      <div class="page-header__content">
        <div>
            <a href="http://localhost:8080"><img class="logo" src="/assets/madbananalogo.png" alt="logo"/></a>
        </div>
        <nav>
          
          <ul role="list" class="nav-list flex-group">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/blog/">Blog</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
</header>